*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(18, 18, 30);
    display: flex;
    place-items: center;
    height: 100vh;
}

main{
    display: grid;
    grid-template-areas:
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 15px;
    width: 50%;
    margin: auto;
}



.item-a{
    background-color: orangered;
    grid-area: a;
    padding: 6em;
}

.item-b{
    background-color: darkorange;
    grid-area: b;
    padding: 3em;

}

.item-c{
    background-color: limegreen;
    grid-area: c;
    padding: 6em;

}

.item-d{
    background-color: deepskyblue;
    grid-area: d;
    padding: 3em;

}


.item-e{
    background-color: #00bfff;
    grid-area: e;
    padding: 3em;

}
